@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 400px;
  max-width: 400px;
  background: #424D5B;
  /* background: -webkit-linear-gradient(to left, #304352, #d7d2cc); */
  /* background: linear-gradient(to left, #304352, #d7d2cc); */
  border-radius: 7px;
  color: #fff;
}

.popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.popup-wrapper h1 {
  margin: 0px;
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  color: white;
}

.popup-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-wrapper form > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popup-wrapper form > label input {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.popup-wrapper form > label input:checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #716af3;
  position: relative;
}

.popup-wrapper form > label input:checked::after {
  content: "\2713";
  position: absolute;
  color: white;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.popup-wrapper form > label span {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
}

.popup-wrapper form > label + label {
  margin-top: 15px;
}

.popup-wrapper form .popup-wrapper__content {
  margin-left: -30px;
  background-color: #1e1d2e;
  margin-right: -30px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.popup-wrapper form .popup-wrapper__content p {
  padding: 30px;
  color: #b3b2c5;
}

.popup-wrapper form .popup-wrapper__content p a {
  color: #716af3;
}

.popup-wrapper form .popup-wrapper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-wrapper form .popup-wrapper__footer h1 {
  margin-top: 0px;
  margin-bottom: 35px;
}

.popup-wrapper form .popup-wrapper__footer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popup-wrapper form .popup-wrapper__footer label + label {
  margin-top: 15px;
}

.popup-wrapper form .popup-wrapper__footer label span {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.popup-wrapper form .popup-wrapper__footer label input {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  cursor: pointer;
}

.popup-wrapper form .popup-wrapper__footer label input:checked {
  position: relative;
  background-color: #716af3;
}

.popup-wrapper form .popup-wrapper__footer label input:checked::after {
  background-color: white;
  content: "";
  border-radius: 50%;
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7px;
}

.popup-wrapper form .popup-wrapper__footer .send {
  margin-top: 50px;
}

.popup-wrapper form .popup-wrapper__footer .send input {
  line-height: 65px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: #716af3;
  border: none;
  cursor: pointer;
  width: 100%;
}

:root {
  --gray100: #f3f3f3;
  --second-bg: #5A6676;
  --green74: #66b574;
  --red300: #e17e65;
}
.toggle {
  position: relative;
}
.toggle.active .toggle-switch {
  background: var(--green74);
}
.toggle h3 {
  text-transform: uppercase;
  font-size: 1.25em;
  color: #aaa;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.form__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-form .form__footer {
  margin-left: -60px;
  margin-right: -60px;
  padding-left: 60px;
  padding-right: 60px;
}
.main-form .form__footer .btn.action {
  font-size: 1.25rem;
  padding: 6px 5px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  flex-grow: 1;
}
.main-form .form__footer .btn.action.-start {
  background-color: red;
  color: white;
}
.form__footer .action-wrapper {
  background: var(--second-bg);
  border-radius: 12px;
  padding: 4px;
  display: flex;
  gap: 4px;
}
.form__footer .messages-wrapper {
  margin-top: 15px;
}
.form__footer .messages-wrapper .message.success {
  color: var(--green74);
}
.form__footer .messages-wrapper .message.error {
  color: var(--red300);
}
.toggle-switch {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 22px;
  background: #5A6676;
  border-radius: 20px;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.toggle-switch .checkbox-toggle {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  transform: translateY(-50%);
}
.toggle-switch label {
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  z-index: 1;
}
.toggle-switch .checkbox-toggle:checked + label {
  left: 70%;
}
