@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon:wght@200;300;400;500;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}
:root {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: rgba(255, 255, 255, 0.9);
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Tilt Neon", "Helvetica Neue", Helvetica,Arial,sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(203 203 203 / 55%);
  // --button-active: 
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60 / 85%);
  --popup-bg: rgb(22 25 37);
  --search-bg:  #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
  --input-bg: rgb(255 255 255 / 10%);
  --link-color: #3a4fff;
  --ucm-color: #2c93dd;
  --input-form-bg: rgb(167 212 251 / 65%);
}
.blue-mode {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: rgba(255, 255, 255, 0.9);
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Tilt Neon", "Helvetica Neue", Helvetica,Arial,sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(203 203 203 / 55%);
  // --button-active: 
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60 / 85%);
  --popup-bg: rgb(22 25 37);
  --search-bg:  #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
  --input-bg: rgb(255 255 255 / 10%);
  --link-color: #3a4fff;
  --ucm-color: #2c93dd;
  --input-form-bg: rgb(167 212 251 / 65%);
}
button, input, select, textarea {
  border-radius: 10px;
  background: var(--input-form-bg);
  border: none;
}
input[type=button] {
  border: none;
  border-radius: 10px !important;
  background-color: var(--input-form-bg);
  color: var(--theme-color);
}
p {
  color: var(--theme-color);
}
.bc-view-pp-left {
  .bc-detal-task-title:first-child {
    display: none;
  }
  p {
    color: var(--theme-color);
    .bc-title-inner {
      color: var(--theme-color);
      font-weight: 600;
    }
  }
  p:nth-child(2) {
    margin-top: 15px;
    .block_task_name {
      display: inline;
      margin-left: 0;
    }
  }
}
.bc-usercm {
  color: var(--ucm-color) !important;
  font-weight: 500;
}
.comment_item a {
  color: var(--link-color) !important;
}
body {
  font-family: var(--body-font) !important;
  background-size: cover;
  background-position: center;
  padding: 2em;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  &.blue-mode::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3);
  }
}
.log-time-popup {
  backdrop-filter: blur(1em);
  .grid.create-task-custom {
    border-radius: 1em;
    padding: 1em;
    background: rgba(0,0,0,0.35);
    box-shadow: 3px 6px 15px -1px rgba(0,0,0,0.24);
    border: 3px solid rgb(208 208 208 / 18%);
    margin-top: 0;
    .formRow:nth-child(5) {
      & > label {
        font-weight: 400;
        color: var(--theme-color) !important;
      }
    }
    .formRow:nth-child(4), .formRow:nth-child(2), .formRow:nth-child(3) {
      label, span:not(.required) {
        font-weight: 400;
        color: var(--theme-color) !important;
      }
      span.required {
        color: #f96363;
      }
      input, select {
        border-radius: 7px;
        border: none;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
        /* backdrop-filter: blur(20px); */
        background: var(--input-bg);
        color: var(--theme-color);
      }
      select option {
        background: #515152;
      }
    }
    .cancel {
      color: var(--theme-color);
    }
    .btn-success-log {
      background-color: var(--input-form-bg) !important;
      border: none;
      padding: 8px 26px;
      color: var(--theme-color);
      border-radius: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    .btn-success-log:hover {
      color: var(--dropdown-bg) !important;
    }
  }
}
.area_note {
  // border-top-left-radius: 1em;
  // border-top-right-radius: 1em;
  // background-color: white;
  border-bottom: 1px solid var(--border-color);
  p { display: none !important; }
  .pull-right.bc-pull-right-custom {
    float: none !important;
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
    margin: 0;
    padding: 0.5em;
    * {
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      border-radius: 10px;
      transition: 0.3s;
      background: transparent;
      border: none;
      color: var(--theme-color);
      padding: 12px 12px;
    }
    *:hover {
      background-color: var(--input-form-bg) !important;
      color: var(--theme-color) !important;
    }
  }
}
#task_view_detail {
  height: calc(100vh - 215px);
  overflow-y: auto;
  padding: 0 15px 15px 15px !important;

  p.bc-detal-task-title {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      background:var(--border-color);
    }
    span.title {
      position: relative;
      z-index: 9;
    }
  }
  .bc-wrap-taskdetail .bc_attach-wrap form{
    background-color: var(--input-form-bg);
    border-radius: 10px;
  }
  .bc-tab {
    border: none;
    font-size: 1.7rem;
    margin: 15px auto 0 auto;
    padding-left: 0;
    display: flex;
    justify-content: center;
    span {
      border: none;
      background-color: transparent;
      color: var(--button-inactive);
      padding: 20px 24px;
      transition: 0.2s;
      font-weight: 700;
    }
    span.active {
      color: var(--theme-color);
      border-bottom: 2px solid var(--theme-color);
    }
    span:hover {
      color: var(--theme-color);
      border-bottom: 2px solid var(--theme-color);
    }
  }
  .comment_item {
    background: var(--content-bg) !important;
    padding: 10px 1em !important;
    border-radius: 1em !important;
    box-shadow: 2px 5px 14px -2px rgba(0,0,0, 0.1)!important;
    border: none !important;
    border: 1px solid var(--theme-bg-color) !important;
    margin-bottom: 15px;
    form.form_add_reply {
      .label {
        color: var(--theme-color);
      }
      .formRight button:hover {
        color: red;
      }
    }
    span {
      line-height: normal;
    }
  }
}
div.jumbotron {
  background: var(--theme-bg-color) !important;
  backdrop-filter: blur(20px);
  border-radius: 1em !important;
  // height: calc(100vh - 140px) !important;
  // overflow-y: auto !important;
  // position: relative;
  // background: transparent !important;
  padding: 0 !important;
  
  .container {
    padding: 0 !important;
  }
  .bc-tab-body {
    background-color: var(--theme-bg-color) !important;
    padding: 0 30px 15px 30px;
    border: 1px solid var(--border-color);
    color: var(--theme-color)!important;
    border-radius: 7px
  }
  .bc-worklog-task .worklog_item span {
    color: var(--theme-color);
  }
  .bc-note-task {
    // display: inline-block !important;
    width: 100%;
    padding-top: 20px;
    background-color: transparent;
    border: none;
    .create-task-custom {
      margin-top: 0;
      background-color: transparent;
    }
  }
  a {
    color: var(--link-color);
  }
}
.bc-title-inner.task_name {position:  relative !important;}

.message-container {
  margin-bottom: 1em;
}
p.bc-detal-task-title {
  background: transparent !important;
  padding: 0;
  display: flex;
  
  span.title {
    padding: 2px 10px;
    border-radius: 15px;
    color: var(--theme-color);
    background-color: var(--inactive-color);
    font-weight: 400;
  }
}
.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.content-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  gap: 1em;
}
.container.container_wrap {
  padding: 0!important;
  .alert-success {
    width: 100%;
    border-radius: 1em;
    margin-bottom: 0.5em;
    background-color: var(--hover-menu-bg);
    color: var(--theme-color);
    font-weight: 700;
    font-size: 1.2em;
  }
  .alert-danger {
    margin-bottom: 0.5em;
    background-color: rgb(255 0 0 / 50%);
    border: none;
    border-radius: 1em;
    color: var(--theme-color);
  }
}
// .container.container_wrap {
//   max-width: 1250px;
//   background-color: var(--theme-bg-color);
//   // height: 90vh;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
//   position: relative;
//   width: 100%;
//   border-radius: 1em;
//   backdrop-filter: blur(20px);
//   -webkit-backdrop-filter: blur(20px);
//   font-size: 15px;
//   font-weight: 500;
// }
.user-avatar {
  border: 2px solid white;
  border-radius: 9999px;
}
.navbar.navbar-default {
  background-color: var(--theme-bg-color) !important;
  backdrop-filter: blur(0.75em);
  -webkit-backdrop-filter: blur(0.75em);
  border: none !important;
  border-top-right-radius: 1em !important;
  border-top-left-radius: 1em !important;
  border-radius: 1em !important;
  z-index: 1;
  margin-bottom: 0.5em !important;
  position: sticky !important;
  top: 10px !important;
  #navbar {
    ul:first-child, ul>.my-account{
      display: block;
    }
    li.open, li:hover {
      background-color: var(--dropdown-hover) !important;
      border-radius: 0 1em 1em 0;
      transition: 0.3s;
    }
    .open>.dropdown-toggle {
      background-color: transparent !important;
    }
    .navbar-right>li:first-child {
      background-color: transparent !important;
      // search container
      input:focus {
        background-color: var(--theme-bg-color) !important;
      }
      .input-group-btn {
        display: none;
      }
    }
    .navbar-right>li:last-child {
      padding: 0 1em 0 1em;
      margin-right: -15px;
      ul {
        width: 100%;
        background-color: var(--dropdown-hover);
        border-radius: 0 0 1em 1em;
        a:hover {
          background-color: var(--hover-menu-bg);
          color: var(--theme-color);
        }
      }
    }
    .dropdown {
      ul {
        width: 100%;
        background-color: var(--dropdown-hover);
        border-radius: 0 1em 1em 0;
        a:hover {
          background-color: var(--hover-menu-bg);
          color: var(--theme-color);
        }
      }
    }
  }
  //focus search input
  .wide {
    ul:first-child, ul>.my-account{
      display: none;
    }
    #search {
      max-width: 800px;
      margin: auto;
      transition: 0.4s;
      box-shadow: 0 0 0 1px var(--border-color);
      padding-left: 0;
    }
  }
}
div.bc-view-pp-left {
  width: 100%;
  float: none;
}
.input-group #search.v__nav-search__input {
  background: var(--input-bg);
  color: var(--theme-color);
  &::placeholder {
    color: var(--theme-color);
  }
}
.input-group #search.v__nav-search__input:focus {
  border: none;
  border-radius: 10px;
  outline: 2px;
  outline-color: var(--theme-color);
  outline-style: dashed;
  outline-offset: 2px;
}

.bc-view-pp-right__wrapper {
  width: 40%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
.bc-view-pp-right {
  // position: sticky;
  // width: auto;
  // top: 2em;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  float: none;
  margin: 0;
  background-color: var(--theme-bg-color);
  border-radius: 1em;
  padding: 1em;
  backdrop-filter: blur(0.35em);
  -webkit-backdrop-filter: blur(0.35em);
  border: 2.5px solid rgba(255, 255, 255, 0.05);
  .title, .bc-title-inner {
    background: transparent !important;
    color: var(--theme-color);
    user-select: none;
  }
  .bc_autocomplete {
    border-radius: 7px;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    /* backdrop-filter: blur(20px); */
    background: var(--input-bg);
    color: var(--theme-color);
    &:focus, &:focus-visible {
      outline: 2px;
      outline-color: var(--theme-color);
      outline-style: dashed;
      outline-offset: 2px;
    }
  }
}
.bc-view-pp-right:nth-child(2){
  margin-top: 10px;
}

  #form_add_comment {
    .grid.create-task-custom {
      border: none;
      border-radius: 0;
      margin-top: 0;
      float: none;
    }
    .create-task-custom .grid-content {
      float: left;
      width: 100%;
    }
    .create-task-custom .formRowComment {
      height: auto;
    }
    // .formRowComment label {
    //   float: none;
    //   width: auto;
    // }
    // .formRowComment .formRight {
    //   width: auto;
    //   float: none;
    // }
    // .formRowComment button {
    //   float: none;
    // }
    .formRowComment {
      .formRight {
        width: auto;
        float: none;
      }
      label {
        float: none;
        width: auto;
        color: var(--theme-color);
        margin-bottom: 10px;
      }
    }
  }
}

.fixed {
  position: fixed;
  left: 0;
  padding: 15px;
  background: white;
  width: 100%;
  top: 0;
  box-shadow: -3px 5px 10px -5px #6d6d6d;
  z-index: 9999;
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  margin-top: 0;
  /* transition: all 0.25s ease-in-out; */
  padding-right: 30px;
}
.fixed a.btn-inverse {
  border-radius: 9999px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  line-height: 1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.footer {
  background-color: var(--theme-bg-color) !important;
  backdrop-filter: blur(1em);
  border-radius: 1em;
  span {
    display: none;
  }
  .container.container-custom {
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      color: var(--theme-color);
      padding: 5px 10px;
      border-radius: 6px;
      text-decoration: none;
      transition: background-color 0.24s ease-in-out;
      &:hover {
        background-color: var(--hover-menu-bg);
      }
    }
  }
}
.grid-content, .review_wrap, .reply_wrap {
  .formRowComment, .form_review_des, .formRight {
    button {
      background-color: var(--input-form-bg) !important;
      border: none;
      padding: 8px 26px;
      color: var(--theme-color);
      border-radius: 20px;
      cursor: pointer;
      transition: 0.3s;
      margin: 20px 0 0 0;
    }
    button:hover {
      color: var(--dropdown-bg) !important;
    }
    .cke {
      border: none !important;
      .cke_inner {
        border-radius: 10px;
        background-color: transparent;
      }
      .cke_top {
        border-radius: 10px 10px 0 0;
        background-color: var(--input-form-bg);
      }
      .cke_contents {
        max-height: 413px;
        iframe {
          opacity: 0.8;
        }
      }
      .cke_bottom {
        border-radius: 0 0 10px 10px;
        background-color: var(--input-form-bg);
        .cke_resizer {
          border-color: transparent var(--theme-color) transparent transparent;
        }
      }
    }
  }
}
//search suggest
ul.ui-autocomplete {
  li {
    background-color: var(--input-form-bg);
  }
}
.jGrowl-notification {
  background-color: var(--theme-bg-color) !important;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #392d39 transparent !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
  background: transparent !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #392d39;
  border-radius: 6px;
  border: 3px double #a7a9ac !important;
}